In [1]:
# Import the base Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load the data
df_insurance_main = pd.read_csv("insurance.csv")
df_insurance_main.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520


# Overview of the data

In [3]:
df_insurance_main.shape

(1338, 7)

In [4]:
# 1338 observations
# 7 Features

In [5]:
df_insurance_main.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
df_insurance_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
df_insurance_main.isnull().sum()*100/len(df_insurance_main)

age         0.0
sex         0.0
bmi         0.0
children    0.0
smoker      0.0
region      0.0
charges     0.0
dtype: float64

In [8]:
df_insurance_main.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
## Saperate the Target Veribale
df_target = df_insurance_main["charges"]
df_insurance_main.drop("charges",axis=1,inplace=True)

# Encoding & Scalling

## Scalling

In [10]:
# numerical df
df_insurance_main_num = df_insurance_main.select_dtypes(include="number")
df_insurance_main_num.head()

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0

In [11]:
# Scale the numerical data using Standard SWcaller
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
scalled = ss.fit_transform(df_insurance_main_num)

In [12]:
scalled_df = pd.DataFrame(scalled,columns=df_insurance_main_num.columns)
scalled_df.head()

        age       bmi  children
0 -1.438764 -0.453320 -0.908614
1 -1.509965  0.509621 -0.078767
2 -0.797954  0.383307  1.580926
3 -0.441948 -1.305531 -0.908614
4 -0.513149 -0.292556 -0.908614

## Encoding

In [13]:
# Saperate the Cat. Veriabls
df_insurance_main_cat = df_insurance_main.select_dtypes(include="object")
df_insurance_main_cat.head()

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

In [14]:
# Encode using Dummy Encoding
encoded = pd.get_dummies(df_insurance_main_cat)
encoded.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0

In [15]:
#### Concate the Scalled and encoded Dataframe
X = pd.concat([scalled_df,encoded],axis=1)
X.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,-1.438764,-0.453320,-0.908614,1,0,0,1,0,0,0,1
1,-1.509965,0.509621,-0.078767,0,1,1,0,0,0,1,0
2,-0.797954,0.383307,1.580926,0,1,1,0,0,0,1,0
3,-0.441948,-1.305531,-0.908614,0,1,1,0,0,1,0,0
4,-0.513149,-0.292556,-0.908614,0,1,1,0,0,1,0,0

In [16]:
## Splitting the data for Training and Testing
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,df_target,random_state= 1, test_size = 0.2)


# Traing Data



print("X_train---indepandant veriabls for traing ",X_train.shape)
print("y_train---dependant veriabls for traing ",Y_train.shape)

print("__________________________________________")

# Testing Data
print("X_test---indepandant veriabls for testing ",X_test.shape)
print("y_test---dependant veriabls for testing ",Y_test.shape)

X_train---indepandant veriabls for traing  (1070, 11)
y_train---dependant veriabls for traing  (1070,)
__________________________________________
X_test---indepandant veriabls for testing  (268, 11)
y_test---dependant veriabls for testing  (268,)

# Base model

In [17]:
# OLS (Ordinory Least Squired Method)
import statsmodels.api as sm

# Build the model
base_model_df_insurance_main = sm.OLS(Y_train,X_train).fit()

# Print the summary
base_model_df_insurance_main.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.746
Method:                 Least Squares   F-statistic:                     393.2
Date:                Wed, 07 Sep 2022   Prob (F-statistic):          4.76e-311
Time:                        09:29:39   Log-Likelihood:                -10838.
No. Observations:                1070   AIC:                         2.169e+04
Df Residuals:                    1061   BIC:                         2.174e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
age               3616.3756    188.872     19.147      0.000    3245.770    3986.981
bmi               1960.5774    194.806     10.064      0.000    1578.328    2342.826
children           491.7307    186.451      2.637      0.008     125.875     857.586
sex_female        8238.8444    213.372     38.613      0.000    7820.165    8657.523
sex_male          7996.6914    203.714     39.255      0.000    7596.963    8396.419
smoker_no        -3775.4751    191.749    -19.690      0.000   -4151.725   -3399.225
smoker_yes        2.001e+04    295.679     67.678      0.000    1.94e+04    2.06e+04
region_northeast  4643.2603    332.008     13.985      0.000    3991.793    5294.728
region_northwest  4247.1638    334.245     12.707      0.000    3591.307    4903.020
region_southeast  3604.8844    330.215     10.917      0.000    2956.935    4252.834
region_southwest  3740.2273    327.431     11.423      0.000    3097.742    4382.712
==============================================================================
Omnibus:                      241.621   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              566.273
Skew:                           1.217   Prob(JB):                    1.08e-123
Kurtosis:                       5.604   Cond. No.                     7.97e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.48e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [18]:
from sklearn.linear_model import SGDRegressor, LinearRegression

lr = LinearRegression()
sgd = SGDRegressor()
model1 = lr.fit(X_train, Y_train)
predected=model1.predict(X_test)

In [19]:
predected

array([ 4383.68089988, 12885.03892192, 12589.21653212, 13286.22919217,
         544.72832757, 32117.58400779, 12919.04237221, 12318.62183013,
        3784.29145555, 29468.45725408, 11002.8139431 , 17539.69473777,
        8681.35471964,  8349.04325528,  3130.12725504, 10445.83896118,
        3863.74357865,  6944.62510786, 15009.63121084, 14441.59911874,
       12543.65768867, 32958.72553095,  9072.63608136,  8986.85860053,
        3022.85773294,  8164.97136102,  9556.07558002, 10743.20363927,
        7694.01743692,  4373.43771674, 14140.93557984,  5811.78545062,
       34631.91316718, 27009.11191231, 33348.14098668,  9532.96786929,
       30421.65017927, 26648.91186842, 15157.78333287, 33895.76121465,
        6303.38552088, 14059.15156303, 10713.4467824 , 15089.36171493,
        4187.95334069, 13106.4297513 ,  4336.19603407, 28607.05556216,
        7243.57117377, 14269.4643165 , 13282.36924936, 12329.61280721,
        1851.87215658,  8876.2837892 , 26089.18341811, 10125.8221046 ,
       34218.77265378, 14537.70022165,  3232.07805794,  5889.64309508,
        6558.45711628, 14952.73214832, 26943.84457634,  3272.57672674,
       15795.18877494, 11220.12036023, 11132.67761401, 10461.51218201,
        1520.17580687, 25268.32319722, 37555.4332681 , 33131.32070966,
        1986.54437212, 11348.45648105, 13683.62487834, 34970.76597049,
        3194.05204265,  3875.19388449, 10355.84468565, 10429.85383112,
         -74.18168095, 14069.96921025, 10335.95235396,  3160.49129709,
       33495.55139469, 33108.38629603,  7159.042252  , 37712.17792565,
       12860.01613403, 10312.33535752, 30118.39165257, 33999.155218  ,
       14744.35977759, 10797.48057723,   228.32604517, 10550.25751993,
        9637.2654186 , 14963.62716464, 14973.49438453,  6077.52837971,
       13679.44499708, 26048.6188477 , 28140.15460801, 27428.44651929,
       35323.96326034, 27120.17093173,   635.73242244,  9265.30720109,
        4700.17995399, 12458.33462103,  5334.04136712,  4797.80959774,
        1053.28620015, 18801.23368294,  3268.21781045,  1680.06692797,
       11731.45541277, 12594.4560403 , 11876.24500234,  3722.26917923,
        8907.38977334, 13909.79277731,  7727.28039545,  6573.92347482,
       36668.28291771, 12172.54974158, 12246.4759298 , 29298.69540744,
       36065.08836969, 11635.06903459, 28119.47917939,  -420.5228157 ,
        8255.48679122, 31611.56891923,  8278.51950655,  -682.91733795,
        1175.50251941,  4610.52460783,  7592.72365991, 12602.74525758,
       14871.84794414,  8696.2661006 , 28916.17140639, 15712.12938325,
       14688.56307722, 11117.34115616,  1910.78149758, 10065.51386262,
        3785.83713249,  6165.85822972, 11400.42215978,  5505.08475585,
       14580.76982237, 13691.35579602, 12694.51188244,  7023.42319484,
       12388.68766385, 10922.09183278, 10269.55783904,  4543.27270357,
        5648.10144357, 40390.9900769 , 13059.47316213,  4308.66813543,
        8433.53823713,  4680.92297563, 32207.14761827, 11261.09752853,
       10966.92628193,  6893.83017801,  6439.49932262,  6698.81354717,
       33082.53354683, 34892.66990169,  2163.75212652,  7664.10129233,
        5208.63123781, 15537.4388228 ,  1472.95942494, 11431.38761905,
       13442.52462926, 11497.84155642, 10547.85065715, 13216.06609157,
        2392.9275311 , 27535.86192673,  2350.29363146, 14750.02090702,
        6294.4943912 , 10590.51504221, 14975.55458721, 38857.75707767,
        2100.48817818,  1489.62172706,  5170.63120404,  7556.77055613,
        7905.80683902,  4503.61764622, 10680.78553577,  8938.12057203,
        9389.70713251, 11104.75136012, 10325.31689891,  9247.40925093,
        8075.54835929,   895.79174623, 10136.82246673,  7306.72664577,
        6626.07986045, 11706.84936779,  5409.99685749, 32864.25315855,
        7088.39118065,  6309.6941707 ,  7934.10447803, 38948.10610123,
       11941.19483711, 28316.17975841,  2882.4783976 , 33202.36401978,
        3690.60862539, 31577.22772525, 13825.53657174,  2716.91852953,
        1908.80043495,  1262.92212969,  6109.40830379,  4463.80387639,
       25580.05728181, 15737.66640221,  5345.8549026 , 13030.85900261,
       38954.05091304,  4792.05740177, 12711.42561622, 11335.66208015,
       27785.54316341,  2794.86874955, 13392.79241645,  5727.91540048,
       15215.43600554,  5772.15783816, 16929.82927411,  3896.74375465,
       12197.3470759 , 34682.24329155, 10666.53272796, 10601.36016707,
        4875.20490336, 16734.59399629, 14399.64496923,  5497.30018065,
       11149.82336777, 12497.70437379,  4626.74808217,  7169.33486073,
       27667.13758601, 32240.5545494 ,  -474.41779055, 40306.05467371,
        9397.25562995,  7750.27185181, 10671.66257411, 33555.1844395 ,
       35949.5230514 , 36650.46723087,  4961.92884343,  6116.92057448])